.top-menu {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /*backdrop-filter: blur(10px);*/
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}

.vertical-scroll {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.left-column,
.right-column {
  will-change: transform;
}

.frame {
  width: 100%;
}

.frame img {
  width: 100%;
  height: auto;
  display: block;
}

.description {
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
