.top-menu {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /*backdrop-filter: blur(10px);*/
}

.booking-section {
  display: grid;
  grid-template-columns: 40% 60%;
}

.booking-images {
  display: flex;
  flex-direction: row;
}

#img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagesflex {
  display: flex;
  flex-direction: column;
}

#img2 {
  flex: 5;
  width: 100%;
  object-fit: cover;
}

#img2 {
  flex: 5;
  width: 100%;
  object-fit: cover;
}

.imagecontainer {
  width: 100%;
  height: 100%;
}

.left-column {
  padding: 4vw;
}

h1 {
  margin-left: 4vw;
}
