#cabin-kurbits {
  position: fixed;
  top: 15%;
  right: 10%;
  opacity: 0.3;

  width: 700px;
  height: 300px;
  transform: rotate(30deg);
  z-index: -2;
}

#cabin-kurbits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Gallery section*/

.cabin-gallery-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  margin-bottom: 8vh;
}

.cabin-gallery-section h1 {
  font-size: 98pt;
  color: #cc6e58;
  grid-row: 1;
  grid-column: 2 / span 6;
  margin-bottom: 2vh;
}

.cabin-gallery-container {
  grid-column: 2 / span 10;
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 12px;
}

.gallery-preview {
  grid-column: 1 / span 7;
  position: relative;
  display: block;
}

#main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-image.animation {
  animation: 1s fadeIn ease-in;
}

/*Image fade in animation*/

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.thumbnail-grid {
  grid-column: 8 / span 3;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background-color: #fff3eb;
}

.cabin-gallery-text {
  grid-column: 2 / span 7;
  grid-row: 3;
}

.cabin-gallery-text p {
  color: #67372b;
  background-color: #fff3eb;
}

.cabin-gallery-text a {
  color: #cc6e58;
  font-weight: bold;
}

.thumbnail {
  opacity: 0.6;
  transition: transform ease-in-out 0.5s;
}

.thumbnail:hover {
  opacity: 1;
  transform: scale(1.02);
  cursor: grab;
}

.thumbnail-active {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .cabin-gallery-section {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
  .cabin-gallery-section h1,
  .cabin-gallery-container {
    grid-column: 1 / -1;
  }
  .cabin-gallery-container {
    display: flex;
    flex-direction: column;
    grid-column: auto;
  }
  .gallery-preview {
    width: 100%;
    height: auto;
    grid-column: auto;
  }
  .thumbnail-grid {
    flex-direction: row;
    grid-column: auto;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cabin-gallery-text {
    grid-row: 3;
  }
}

/*Amenities*/

.amenities {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 8vh;
}

.amenities-container {
  grid-column: 2 / span 10;
  border: 8px solid rgb(79, 114, 138);
  border-radius: 16px;
  position: relative;
  z-index: -2;
  background-color: #fff3eb;
}

.amenities-container:after {
  content: "";
  display: block;
  position: absolute;
  width: 550px;
  top: -10px;
  left: 0px;
  border: 8px solid #fff3eb;
  z-index: -1;
}

.amenities h3 {
  color: #4f728a;
  margin-left: 20px;
  margin-top: -50px;
  z-index: 2;
  margin-bottom: 0;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 4vh;
  justify-content: center;
  align-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
}

.icon-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container svg {
  color: #4f728a;
  object-fit: cover;
}

.icon-container p {
  color: #1e1e1e;
}

#icon-divider.vertical {
  color: #4f728a;
  height: 2px;
  grid-column: 1 / span 12;
}

@media screen and (max-width: 1050px) {
  .icon-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .icon-container svg {
    width: 34px;
    height: 34px;
  }
}

@media screen and (max-width: 700px) {
  .icon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .icon-container svg {
    width: 24px;
    height: 24px;
  }
  .amenities-container:after {
    width: 230px;
  }
  .amenities h3 {
    margin-top: -25px;
    margin-bottom: 10px;
  }
}
