#contact-title {
  margin-bottom: 0;
  margin-left: 8vw;
}

.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 8vh;
}

.contact-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2vw;
  justify-content: flex-start;
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
}

.contact-section h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 1vh;
}

.left-column {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  row-gap: 4vh;
  color: #67372b;
}

/*Image slider*/

.image-gallery {
  margin-bottom: 8vh;
}

.siljan-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.siljan-img-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.message-form {
  border: 6px solid #67372b;
  border-radius: 16px;
  background-color: #fff3eb;
  padding: 2vw;
  width: 60%;
  height: auto;
  justify-self: center;
  position: relative;
}

.message-form form {
  position: relative;
}

.message-field {
  display: flex;
  flex-direction: column;
}

.message-field form input {
  border-color: #67372b;
  background-color: none;
}

.message-form label,
.message-form h2 {
  color: #67372b;
}

#message-form-title {
  font-size: 2rem;
  color: #67372b;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#submit-button {
  background-color: #67372b;
  color: #f2e2d8;
}

.directions {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  width: 80%;
  height: 40vh;
  justify-self: center;
  margin-bottom: 24vh;
  margin-top: 16vh;
}

.directions-link {
  display: flex;
  flex-direction: row;
}

.directions-link svg {
  color: #67372b;
  padding-right: 8px;
}

.map-container {
  width: 100%;
  height: 100%;
  margin-top: 1vh;
}

.map-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.map-container img:hover {
  cursor: pointer;
}

#blaze-selector {
  --slides-to-show: 3;
}

.image-gallery {
  margin-top: 16vh;
}

#submit-button:hover {
  background-color: #cc6e58;
}

@media screen and (max-width: 900px) {
  .contact-section {
    grid-template-columns: 1fr;
    row-gap: 8vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
  }

  #contact-title {
    margin-top: 16vh;
  }

  .directions {
    margin-top: 8vh;
    margin-bottom: 8vh;
  }
  #contact-title {
    justify-self: center;
    margin-left: 0;
  }
  .information-container {
    align-content: center;
  }
}

@media screen and (max-width: 700px) {
  .information-container h2 {
    font-size: 1.25rem;
  }
  .social-icons-container svg {
    width: 24px;
    height: 24px;
  }
  .social-icons-container {
    padding-top: 1vh;
  }
  .image-gallery {
    margin-top: 8vh;
  }
  .message-form {
    width: 80%;
  }
  .button-container {
    margin-bottom: 3vh;
  }
}
