img {
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

a {
  color: black;
  text-decoration-line: none;
}

/*header {
  position: fixed;
  top: 0;
}*/

button {
  background-color: #f0f0f0;
  border: unset;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
}

button:hover {
  background-color: darkgrey;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 0.5rem;
}

h1 {
  font-size: 0.8rem;
}

.nav-links {
  font-size: 2rem;
}

.hero-image-wrapper {
  width: 100%;
  height: 95vh;
  position: relative;
}

.heroimage {
  width: 100%;
  height: 100%;
}

.heroimage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: (-50%, -50%);
  font-size: 12rem;
  white-space: nowrap;
  mix-blend-mode: difference;
  font-weight: 500;
  color: white;
  letter-spacing: -0.2rem;
}

.heroimage-text span {
  display: inline-block;
}

.heroimage-text1 {
  transform: translateY(-3rem);
}

.heroimage-text3 {
  transform: translateY(-5rem);
}

.heroimage-text4 {
  transform: translateY(-7rem);
}

.voucher-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.subheading {
  text-transform: uppercase;
}

.voucher-image {
  width: 50vw;
}

.voucher-description {
  text-align: center;
  max-width: 70ch;
}

.animated-image-section {
  height: 110vh;
  position: relative;
}

.animated-image-section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.animated-image-section-text span {
  display: inline-block;
}

.animated-image-section-image {
  width: 100%;
  height: 100%;
}

.animated-text-section {
  background-color: pink;
  padding: 2rem;
}

.animated-text-section-text {
  font-size: 8rem;
  text-align: center;
  line-height: 90%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  font-size: 5rem;
}

.footer-top-links {
  margin: 0;
}

.footer-bottom-links {
  gap: 1rem;
}

.marquee-section {
  padding: 4rem 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100vw;
}

.marquee-line {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;

  animation-name: marquee-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#marquee-line-first {
  padding-right: 2rem;
}

.marquee-section p {
  font-size: 6rem;
  white-space: nowrap;
}

/*animation*/

@keyframes marquee-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

nav a {
  display: inline-block;
  transition: ease-in-out 0.5s transform;
}
nav a:hover {
  transform: translateY(50px);
}
