/*Global styles*/
body {
  background-color: #fff3eb;
  background-blend-mode: overlay;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}
/*
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

html.is-changing .transition-main {
  transition: opacity 250ms ease-in-out;
}

html.is-animating .transition-main {
  opacity: 0;
}

/*Font sizes web*/

h1 {
  color: #cc6e58;
  font-size: 10rem;
  font-family: "Alex Brush", cursive;
  font-weight: 100;
  font-style: normal;
}

h2 {
  font-family: "Alex Brush", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 10rem;
}

h3 {
  font-family: "Alex Brush", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 5rem;
}

h4 {
  font-family: "Alex Brush", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 2.25rem;
}

p,
li,
span {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1rem;
}

/*Menu*/

.top-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  padding-top: 10px;
  align-content: center;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.top-menu {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.top-menu.top-menu-with-background {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.top-menu svg {
  display: none;
}

.top-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  color: white;
}

.top-menu a {
  text-decoration-line: none;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform 0.5s ease;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top-menu a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 700px) {
  .top-menu svg {
    display: block;
  }
  .top-menu li {
    display: none;
  }
  .top-menu ul {
    justify-content: flex-start;
  }
}

/*Hero-section*/

.hero-container {
  background-image: url(/b&b-images/hero-backup.png);
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 16vh;
}

.hero-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
  pointer-events: none;
}

.hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  align-items: center;
  opacity: 60%;
  animation: 4s fadeIn ease-in;
}

#hero-logo-image {
  width: 400px;
  height: auto;
}

/*Hero fade-in animation*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

.hero-logo-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 400px;
  height: auto;
  text-shadow: 2px 2px 4px #000000;
}

#hero-title {
  color: white;
  opacity: 60%;
  font-size: 6rem;
  margin: 0;
}

/*Introdution section*/

.introduction-section {
  background-image: url(b&b-images/sunrise.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  height: 100vh;
  justify-content: center;
}

.vertical-scroll {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-column {
  will-change: transform;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  align-self: flex-start;
}

.text-column span {
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1vh;
}

.introduction-section span {
  color: #fff3eb;
  text-shadow: 2px 2px 2px #00000050;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.5rem;
}

#introduction-cursive {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 5vh;
}

.introduction-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#introduction-kurbits {
  position: fixed;
  top: 10%;
  right: 10%;
  opacity: 0.3;
  height: 50vw;
  width: auto;
  z-index: -2;
}

#introduction-kurbits img {
  transform: rotate(70deg);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-image1 img {
  aspect-ratio: 4/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  #introduction-kurbits {
    display: none;
  }
  .text-column span {
    text-align: left;
  }
}

/*Cabin section*/

.cabin-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  margin: 0 auto;
  padding: 120px 3vw;
}

.cabin-page h2 {
  grid-column: 1 / span 5;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #cc6e58;
  white-space: nowrap;
  margin: 0;
  justify-content: flex-end;
}

.cabin-text {
  grid-column: 1 / span 4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cabin-page p {
  color: #67372b;
  width: 478px;
}

.cabin-text a {
  color: #cc6e58;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
}

#cabin-title {
  display: inline-block;
  margin-top: auto;
}

.nav-link {
  width: fit-content;
  display: block;
  text-decoration: none;
  padding-bottom: 1vh;
  border-bottom: 2px solid #cc6e58;
  color: #cc6e58;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;

  transition: border-color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  border-color: #ffeee3;
  transform: scale(1.02);
}

#cabin-images-1 {
  grid-column: 6 / span 5;
  grid-row: 2;
  align-self: start;
  aspect-ratio: 4/2;
}

#cabin-images-2 {
  grid-column: 8 / span 5;
  grid-row: 1;
  align-self: start;
  aspect-ratio: 4/2;
}

.cabin-page img {
  height: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease-in-out 0.5s;
}

.cabin-page img:hover {
  transform: scale(1.02);
  cursor: grab;
}

@media screen and (max-width: 1050px) {
  .cabin-page {
    grid-template-rows: repeat(4, auto);
  }

  #cabin-images-1 {
    grid-column: 6 / span 6;
  }

  #cabin-images-2 {
    grid-row: 3;
    grid-column: 1 / span 6;
  }

  .cabin-text {
    grid-row: 4;
  }
}

/*Breakfasts section*/

.breakfast-section {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(/b&b-images/breakfast-image.jpg);
  margin-left: 16vw;
  margin-right: 16vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(3, 1, 1);
  opacity: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.breakfast-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #f2e2d8;
  opacity: 1;
  text-align: center;
  top: 50;
  left: 50;
  text-align: center;
  z-index: 10;
  will-change: transform;
  row-gap: 5vh;
}

.breakfast-info span {
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 2px 2px 4px #00000050;
}

#breakfast-cursive {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 5vh;
}

@media screen and (max-width: 700px) {
  .breakfast-section {
    margin-left: 0;
    margin-right: 0;
  }
}

/*Explore section*/

.explore {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap: 12px;
  margin: 0 auto;
  padding: 120px 3vw;
}

.explore p {
  color: #67372b;
}

.explore h2 {
  grid-column: 1 / span 9;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #cc6e58;
  white-space: nowrap;
  margin: 0;
  justify-content: flex-end;
  z-index: 2;
}

#explore-title {
  display: inline-block;
}

.explore img {
  transition: transform ease-in-out 0.5s;
}

.explore img:hover {
  transform: scale(1.02);
  cursor: grab;
}

.explore-lake {
  grid-column: 1 / span 3;
  grid-row: 2;
  aspect-ratio: 2/3;
  width: 100%;
  height: auto;
}

.explore-lake img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-hike {
  grid-column: 4 / span 3;
  grid-row: 2;
  aspect-ratio: 2/3;
  width: 100%;
  height: auto;
}

.explore-hike img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-midsommar {
  grid-column: 7 / span 3;
  grid-row: 2;
  aspect-ratio: 4/3;
  width: 100%;
  height: auto;
}

.explore-midsommar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-rättvik {
  grid-column: 10 / span 3;
  grid-row: 1 / span 2;
  align-self: start;
  aspect-ratio: 2/3;
  width: 100%;
  height: auto;
}

.explore-rättvik img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1050px) {
  .explore {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .explore h2 {
    grid-column: 1;
    grid-row: 1;
  }

  .explore-lake {
    grid-column: 1;
    grid-row: 2;
  }

  .explore-hike {
    grid-column: 2;
    grid-row: 2;
  }

  .explore-midsommar {
    grid-column: 1;
    grid-row: 3;
  }

  .explore-rättvik {
    grid-column: 2;
    grid-row: 3;
  }
}

/*Review section slideshow
https://www.w3schools.com/howto/howto_js_slideshow.asp*/

.testimonials {
  position: relative;
  padding: 20px 20px;
  background-color: #fff3eb;
  border-radius: 16px;
  margin-left: 3vw;
  margin-right: 3vw;
  z-index: -2;
  margin-bottom: 16vh;
}

.testimonials h3 {
  display: block;
  color: #4f728a;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.testimonial-user {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Footer*/

footer {
  background-image: url(b&b-images/footer-image.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;
  z-index: 10;
  margin-top: auto;
}

#footer-overlay {
  background-color: rgb(3, 1, 1);
  position: absolute;
  opacity: 0.5;
  top: auto;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: 100%;
  color: #f5f5f5;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

footer h4 {
  align-self: center;
  margin: 0;
  margin-bottom: 2vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#footer-logo {
  grid-column: 1 / span 3;
  object-fit: cover;
  align-self: center;
  justify-self: center;
  opacity: 60%;
  padding: 2vw;
}

.footer-information {
  grid-column: 6 / span 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.contact-row ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.contact-row li:hover {
  text-decoration-line: underline;
}

.socials-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icon-container {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.social-icon-container svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  footer h4 {
    font-size: 2.25rem;
  }
}

/*Form*/
/*Booking form*/
.booking {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 8vh;
}

.form-container {
  max-width: 520px;
  margin: auto;
  background: #fff3eb;
  border: 8px solid #67372b;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);
  margin-bottom: 16vh;
}

.form-container h2 {
  font-size: 6vh;
  color: #67372b;
  margin-top: 0;
  margin-bottom: 28px;
}

/* Timeline Navigation */
.timeline {
  display: flex;
  align-items: start;
  margin-bottom: 28px;
  gap: 0;
}

.timeline-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60px;
  cursor: pointer;
}

.timeline-step span {
  font-size: 12px;
  color: #cc6e58;
  margin-top: 6px;
  white-space: nowrap;
}

.dot {
  width: 12px;
  height: 12px;
  background: #cc6e58;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.line {
  flex: 1;
  height: 2px;
  background: #cc6e58;
  margin-top: 4px;
}

/* Active / completed states */
.timeline-step.active .dot {
  background: #67372b;
}

.timeline-step.completed .dot {
  background: #10b981;
  border-color: #10b981;
}

.timeline-step.active span,
.timeline-step.completed span {
  color: #67372b;
}

/* Steps */
.steps-wrapper {
  position: relative;
  min-height: 500px;
}

.step-panel {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateX(16px);
  pointer-events: none;
  transition: all 0.3s ease;
}

.step-panel.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

/* Fields */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 6px;
}

label {
  font-size: 14px;
  color: #67372b;
}

input,
textarea {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #67372b;
  font-size: 14px;
  background-color: #fff3eb;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #18181b;
  box-shadow: 0 0 0 1px #18181b;
}

/* Room Cards */
.room-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.room-card {
  position: relative;
  cursor: pointer;
  padding: 20px 10px;
  border-radius: 12px;
  border: 1px solid #e4e4e7;
  text-align: center;
  transition: all 0.2s ease;
  grid-column: 1 / span 3;
}

.room-card input {
  position: absolute;
  opacity: 0;
}

.room-card:has(input:checked) {
  background: #18181b;
  border-color: #18181b;
  color: white;
}

/* Buttons */
.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

#nextBtn,
#submitBtn {
  margin-left: auto;
}

button {
  border: none;
  background: #67372b;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  color: white;
}

button:hover {
  background: #cc6e58;
}

#submitBtn {
  background: #67372b;
  color: white;
  border: none;
}

#submitBtn:hover {
  background: #67372b;
}

/* Validation */
.error {
  border-color: #ef4444 !important;
  box-shadow: 0 0 0 1px #ef4444;
}

.error-text {
  font-size: 12px;
  color: #ef4444;
  margin-top: 4px;
  min-height: 14px;
  transition: opacity 0.2s ease;
}

.review-box {
  border: 1px solid #e4e4e7;
  border-radius: 12px;
  padding: 16px;
  background: #fafafa;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.review-label {
  color: #71717a;
}

.review-value {
  font-weight: 500;
  text-align: right;
}

/*Font-sizes */
@media screen and (max-width: 1050px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 5rem;
  }

  h4 {
    font-size: 3rem;
  }

  p,
  li {
    font-size: 1rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  #introduction-cursive {
    font-size: 2rem;
  }

  #explore-cursive {
    font-size: 2rem;
  }

  #hero-title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p,
  li {
    font-size: 0.875rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  #introduction-title {
    font-size: 1.5rem;
  }

  #explore-title {
    font-size: 1.5rem;
  }
  #hero-title {
    font-size: 2rem;
  }
}
