/*Global styles*/
body {
  background-color: #f2e2d8;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
}

/*Menu*/

.top-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  padding-top: 10px;
  align-content: center;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.top-menu.top-menu-with-background {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /*backdrop-filter: blur(10px);*/
}

.top-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  color: white;
}

.top-menu a {
  text-decoration-line: none;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform 0.5s ease;
}

.top-menu a:hover {
  transform: scale(1.2);
}

/*Hero-section*/

.hero-container {
  background-image: url(/b&b-images/hero-backup.png);
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 16vh;
}

.hero-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
  pointer-events: none;
}

.hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

#hero-logo-image {
  width: 400px;
  height: auto;
}

.hero-logo-title {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: auto;
}

/*Introdution section*/

.introduction-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.introduction-text {
  display: flex;
  flex-direction: column;
}

.introduction-gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#introduction-kurbits {
  position: fixed;
  top: 100px;
  right: 200px;

  height: 700px;
  width: 300px;
  z-index: -2;
}

#introduction-kurbits img {
  transform: rotate(70deg);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  column-gap: 2vh;
  row-gap: 2vh;
}

.introduction-image1 {
  grid-column: 2 / span 3;
  grid-row: 1;
}

.introduction-image1 img {
  aspect-ratio: 4/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-text {
  grid-column: 5 / span 4;
  grid-row: 1;
  align-self: center;
  row-gap: 2vh;
  color: #1e1e1e;
}

.introduction-image2 {
  grid-column: 9 / span 3;
  grid-row: 1;
  aspect-ratio: 4/3;
}

.introduction-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-image3 {
  grid-column: 3 / span 4;
  grid-row: 2;
  aspect-ratio: 4/3;
}

.introduction-image3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-image4 {
  grid-column: 7 / span 3;
  grid-row: 2;
  aspect-ratio: 4/3;
}

.introduction-image4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Cabin section*/

.cabin-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  margin: 0 auto;
  padding: 120px 40px;
}

.cabin-page h2 {
  grid-column: 1 / span 5;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #cc6e58;
  font-size: 12vw;
  white-space: nowrap;
  font-weight: bolder;
  margin: 0;
  justify-content: flex-end;
}

.cabin-page p {
  grid-column: 1 / span 3;
  grid-row: 2;
  color: #67372b;
  width: 478px;
}

.cabin-page a {
  color: #cc6e58;
  font-weight: bold;
  grid-column: 1 / span 4;
  grid-row: 2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-link {
  width: fit-content;
  display: block;
  font-weight: bold;
  font-size: 1.5vw;
  text-decoration: none;
  padding-bottom: 1vh;
  border-bottom: 2px solid #cc6e58;

  transition: border-color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  border-color: #f2e2d8;
  transform: scale(1.02);
}

#cabin-images-1 {
  grid-column: 5 / span 4;
  grid-row: 2;
  object-fit: cover;
  align-self: start;
}

#cabin-images-2 {
  grid-column: 9 / span 4;
  grid-row: 1;
  object-fit: cover;
  align-self: start;
}

.cabin-images img {
  height: 100%;
  height: 100%;
  object-fit: cover;
}

/*Breakfasts section*/

.breakfast-section {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(/b&b-images/breakfast-image.jpg);
  margin-left: 16vw;
  margin-right: 16vw;
  height: 70vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.breakfast-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #f2e2d8;
  text-align: center;
  top: 50;
  left: 50;
  color: #f2e2d8;
  text-align: center;
  z-index: 10;
}

.breakfast-info h4 {
  color: #f2e2d8;
  opacity: 1;
  font-size: 5vh;
  font-weight: 1000;
}

/*Explore section*/

.explore {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap: 12px;
  margin: 0 auto;
  padding: 120px 40px;
}

.explore p {
  color: #67372b;
}

.explore h2 {
  grid-column: 1 / span 9;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #cc6e58;
  font-size: 8.5vw;
  white-space: nowrap;
  font-weight: bolder;
  margin: 0;
  justify-content: flex-end;
}

.explore img {
  transition: transform ease-in-out 0.5s;
}

.explore img:hover {
  transform: scale(1.02);
  cursor: grab;
}

.explore-lake {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.explore-lake img {
  width: 100%;
  height: 396px;
  object-fit: cover;
}

.explore-hike {
  grid-column: 4 / span 3;
  grid-row: 2;
}

.explore-hike img {
  width: 100%;
  height: 437px;
  object-fit: cover;
}

.explore-midsommar {
  grid-column: 7 / span 3;
  grid-row: 2;
}

.explore-midsommar img {
  width: 100%;
  height: 254px;
  object-fit: cover;
}

.explore-rättvik {
  grid-column: 10 / span 3;
  grid-row: 1 / span 2;
  align-self: start;
}

.explore-rättvik img {
  width: 100%;
  height: 414px;
  object-fit: cover;
}

/*Review section*/

.reviews {
  position: relative;
  padding: 20px 20px;
  background-color: #f2e2d8;
  border: 8px solid #4f728a;
}

.reviews::before {
  content: "";
  position: absolute;
  border: 8px solid #f2e2d8;
  z-index: -1;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.reviews h3 {
  color: #4f728a;
  font-size: 64pt;
}

footer {
  background-image: url(b&b-images/footer-image.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: white;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

footer h3 {
  font-weight: bolder;
  font-size: 36pt;
}

#footer-logo {
  grid-column: 1 / span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: center;
}

.location-row {
  grid-column: 5 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.contact-row {
  grid-column: 9 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
