* {
  background-color: #fd5205;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 40px;
}

body {
  margin-right: 100px;
  margin-left: 100px;
}

header {
  height: 100px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
}

ul {
  list-style: none;
}

.content {
  text-decoration-line: underline;
  align-content: left;
}

.links {
  text-decoration-line: underline;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.disclaimer {
  max-width: 600px;
  text-align: right;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
